@use '@/assets/styles/variables.scss';

.game-host {
  padding: 15px;
  background-color: variables.$gray;
  color: variables.$black;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 1px solid variables.$dark-gray;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}
