@use '@/assets/styles/variables.scss';

.game-host {
  padding: 15px;
  background-color: variables.$overlay;
  text-align: center;
  border-bottom: 1px solid variables.$border;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
