@use '@/assets/styles/variables.scss';

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  background-color: #06100f;
  transition: opacity ease 0.3s;

  .description {
    color: #faec00;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .title {
    color: variables.$white;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
  }

  .credit {
    font-size: 0.8rem;
    color: #0cabe8;
    margin-bottom: 15px;
    a {
      color: inherit;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50%;

    .progress-bar {
      height: 30px;
      width: 100%;
      border: 1px solid variables.$white;
      border-radius: 7px;
      display: flex;
      align-items: center;

      .progress {
        background-color: variables.$white;
        height: 100%;
        width: 0;
        border-radius: 5px;
        transition: all ease 1s;
      }
    }

    .desc-text {
      margin-top: 10px;
      text-transform: uppercase;
      color: variables.$white;
      font-weight: 200;
      font-size: 0.8rem;
      letter-spacing: 3px;
      animation: blink 1s steps(2, start) infinite;
    }
  }

  .start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 30%;
    .name-input {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font: inherit;
      outline: none;
      background-color: transparent;
      color: variables.$white;
      border: 1px solid variables.$white;
      border-radius: 5px;
      padding: 7px 10px;
      transition: all ease 0.1s;
    }
    .name-input:focus {
      background-color: variables.$white;
      color: variables.$black;
    }

    .warning {
      color: #faec00;
      text-align: center;
      font-size: 0.7rem;
    }

    .start-btn {
      cursor: pointer;
      font: inherit;
      outline: none;
      font-size: 0.9rem;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid variables.$white;
      color: variables.$white;
      transition: all ease 0.2s;
      &:hover {
        background-color: variables.$white;
        color: variables.$black;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
