@use '@/assets/styles/variables.scss';

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  .cell {
    cursor: pointer;
    flex: 1 1 calc(10% - 3px);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-color: variables.$overlay;
    transition: all ease 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: variables.$thick-overlay;
    }

    &:active {
      transform: scale(0.9);
    }

    &::before {
      content: '';
      position: absolute;
      height: 35%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      transition: all ease 0.2s;
      background-color: transparent;
    }

    &.miss {
      background-color: variables.$thin-overlay;
      &::before {
        background-color: variables.$subtext;
      }
    }
  }
}

.ocean-board .grid .cell {
  &.placing {
    background-color: variables.$thick-overlay;
    &::before {
      background-color: variables.$subtext;
    }
  }

  &.has-ship {
    background-color: variables.$thick-overlay;
    &::before {
      background-color: variables.$text;
    }
  }

  &.hit {
    background-color: variables.$thick-overlay;
    &::before {
      background-color: variables.$opponent;
    }
  }
}

.target-board .grid .cell {
  &.hit {
    background-color: variables.$thick-overlay;
    &::before {
      background-color: variables.$player;
    }
  }
}
