@use '@/assets/styles/variables.scss';

.ship {
  display: flex;
  cursor: grab;
  .ship-cell {
    position: relative;
    width: 32px;
    aspect-ratio: 1 / 1;
    background-color: #d1d2de;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      background-color: #9c9db6;
      height: 35%;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }
  }
}
