@use './reset.scss';

html {
  font-size: calc(16px + 0.5vw);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
}
