$text: #ffffff;
$background: #0e2532;
$subtext: #abb8d9;
$border: #ffffffb7;
$overlay: #ffffff33;
$thick-overlay: #ffffff5e;
$thin-overlay: #ffffff1c;
$yellow: #faec00;
$cyan: #0cabe8;
$player: #0364ee;
$opponent: #ff0055;
